.childDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px 0 0 10px;
}

.mainDiv {
  padding-left: 50px;
  padding-top: 50px;
}

.img {
  max-width: 100px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 10px;
}
.btn-visited {
  padding: 5px;
  margin: 0 10px 5px 0;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: #47a6dd;
}

.visited {
  background-color: darkgrey;
}

.non-visited {
  background-color: transparent;
}
